In [1]:
import pandas as pd
import numpy as np
import os

import seaborn as sns
import nltk

In [2]:
#nltk.download('all')

In [3]:
# Get local path of data
path = os.path.abspath(os.getcwd())
path = os.path.abspath(os.path.join(path, os.pardir)) + '\\airbnb-listings.json'
path

'c:\\Users\\HP\\Desktop\\Data Analyst\\Projects\\airbnb-listings.json'

In [4]:
df = pd.read_json(path)

In [5]:
x =df['fields']
rows = len(x)
facets = ['id',
 'latitude',
 'longitude',
 'name',
 'host_id',
 'host_name',
 'host_response_time',
 'host_response_rate',
 'city',
 'country',
 'property_type',
 'room_type',
 'bed_type',
 'neighbourhood_cleansed',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'extra_people',
 'price',
 'cleaning_fee',
 'cancellation_policy',
 'minimum_nights',
 'maximum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'review_scores_value',
 'review_scores_cleanliness',
 'review_scores_accuracy',
 'calculated_host_listings_count',
 'amenities',
 'features',
 'host_url']

In [6]:
x_records = []
for row in range(0,rows):
      data = x[row]
      x_records.append(data)

for ele in x_records:
    for f in facets:
        if f not in ele.keys():
            ele[f] = None

df2 = pd.DataFrame(x_records,columns=facets)
df2

,id,latitude,longitude,name,host_id,host_name,host_response_time,host_response_rate,city,country,...,maximum_nights,number_of_reviews,reviews_per_month,review_scores_value,review_scores_cleanliness,review_scores_accuracy,calculated_host_listings_count,amenities,features,host_url
0,4008728,52.36523660409065,4.878249575101092,"Luxurious 3 bedroom, centrum, 180m2",20786453,Lithal,within a day,50.0,Amsterdam,Netherlands,...,1125.0,31.0,1.52,9.0,8.0,9.0,1.0,"TV,Internet,Wireless Internet,Kitchen,Pets all...","Host Has Profile Pic,Host Identity Verified,Is...",https://www.airbnb.com/users/show/20786453
1,7778612,52.367309030897516,4.8738407410699915,Luxury apartment in city centre,11964927,Hein,within a few hours,100.0,Amsterdam,Netherlands,...,1125.0,15.0,0.81,9.0,9.0,9.0,1.0,"TV,Cable TV,Internet,Wireless Internet,Kitchen...","Host Is Superhost,Host Has Profile Pic,Host Id...",https://www.airbnb.com/users/show/11964927
2,8264596,52.361943953804776,4.866686522141489,Cosy apartment across Vondelpark,23669273,Matthieu,None,NaN,Amsterdam,Netherlands,...,1125.0,1.0,0.05,10.0,10.0,10.0,1.0,"TV,Cable TV,Internet,Wireless Internet,Kitchen...","Host Has Profile Pic,Host Identity Verified,Is...",https://www.airbnb.com/users/show/23669273
3,2180729,52.37014616115532,4.866281767968382,Spacious City Apartment Oud-West,9238680,Bas,within a day,100.0,Amsterdam,Netherlands,...,30.0,22.0,0.62,9.0,9.0,10.0,1.0,"TV,Cable TV,Internet,Wireless Internet,Kitchen...","Host Has Profile Pic,Host Identity Verified,Is...",https://www.airbnb.com/users/show/9238680
4,14463171,52.368817829014425,4.871249476925455,Cosy Studio Apartment Center Amsterdam,89112644,Pablo,within a day,100.0,Amsterdam,Netherlands,...,1125.0,16.0,2.04,9.0,8.0,8.0,1.0,"TV,Wireless Internet,Kitchen,Heating,Smoke det...",Host Has Profile Pic,https://www.airbnb.com/users/show/89112644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494949,1150181,52.41823277406404,13.724483982850774,rlaub im grünen Umland von Berlin,6304086,Mechthild,None,NaN,Berlin,Germany,...,5.0,0.0,NaN,NaN,NaN,NaN,1.0,None,"Host Has Profile Pic,Is Location Exact",https://www.airbnb.com/users/show/6304086
494950,8699527,52.52811601427975,13.46193763388039,Big bright room in a good location for tavellers,2989041,Nikita,within an hour,100.0,Berlin,Germany,...,1125.0,6.0,0.54,9.0,9.0,10.0,1.0,"Internet,Wireless Internet,Kitchen,Smoking all...","Host Has Profile Pic,Host Identity Verified",https://www.airbnb.com/users/show/2989041
494951,16881873,52.523728272656875,13.474912706162689,Room for rent,91183137,Muhammad,within a day,100.0,Berlin,Germany,...,1125.0,1.0,0.35,8.0,10.0,10.0,1.0,"Smoking allowed,translation missing: en.hostin...",Host Has Profile Pic,https://www.airbnb.com/users/show/91183137
494952,18046299,52.49699434496886,13.497096400008651,Privatzimmer in grünen und ruhigen herzen Berlins,33062083,Jonas,within an hour,100.0,Berlin,Germany,...,1125.0,2.0,2.00,10.0,10.0,10.0,1.0,"TV,Internet,Wireless Internet,Kitchen,Free par...","Host Has Profile Pic,Host Identity Verified,Is...",https://www.airbnb.com/users/show/33062083
494953,14878503,52.49944434562424,13.510698788809268,"*Ruhiges, modernes kleines Zimmer*",54015623,Kathrin,within a few hours,100.0,Berlin,Germany,...,1125.0,2.0,0.32,10.0,10.0,10.0,1.0,"TV,Wireless Internet,Kitchen,Free parking on p...","Host Has Profile Pic,Is Location Exact",https://www.airbnb.com/users/show/54015623

In [7]:
nan_list = df2.isna().sum().to_numpy()
nan_idx = []
for i in range(len(nan_list)):
  if nan_list[i] > 0:
    tmp = []
    tmp.append(df2.keys()[i])
    tmp.append(df2[df2.keys()[i]].dtypes)
    tmp.append(nan_list[i])
    tmp.append(round(nan_list[i]/df2.shape[0] *100,2))
    nan_idx.append(tmp)
df3 = pd.DataFrame(nan_idx, columns = ["col_name","type","nan_amount","%"])
df3

                          col_name     type  nan_amount      %
0                         latitude   object           1   0.00
1                        longitude   object           1   0.00
2                             name   object         418   0.08
3                        host_name   object         504   0.10
4               host_response_time   object      115069  23.25
5               host_response_rate  float64      115070  23.25
6                             city   object         453   0.09
7                          country   object           3   0.00
8                    property_type   object          11   0.00
9                        room_type   object           1   0.00
10                        bed_type   object           1   0.00
11          neighbourhood_cleansed   object           1   0.00
12                    accommodates  float64          63   0.01
13                       bathrooms  float64        1526   0.31
14                        bedrooms  float64         626   0.13
15                            beds  float64         917   0.19
16                    extra_people  float64          37   0.01
17                           price  float64        7958   1.61
18                    cleaning_fee  float64      179239  36.21
19             cancellation_policy   object           2   0.00
20                  minimum_nights  float64           2   0.00
21                  maximum_nights  float64           2   0.00
22               number_of_reviews  float64           2   0.00
23               reviews_per_month  float64      122007  24.65
24             review_scores_value  float64      129081  26.08
25       review_scores_cleanliness  float64      128475  25.96
26          review_scores_accuracy  float64      128717  26.01
27  calculated_host_listings_count  float64         867   0.18
28                       amenities   object        4488   0.91
29                        features   object         306   0.06

## Data Preprosessing

### Hiệu

In [8]:
## Hiệu
df2 = df2.dropna(subset=["accommodates", "bathrooms", "bedrooms", "beds", "extra_people","property_type"])
df2 = df2.drop("cleaning_fee",axis=1)

### Quí

In [9]:
## Quí
df2['host_response_rate'] = df2['host_response_rate'].fillna(0)

df2[['host_response_time','amenities','features']] = df2[['host_response_time','amenities','features']].fillna("Not Avaialble")

### Trí

In [10]:
cols = ['review_scores_cleanliness','review_scores_value','review_scores_accuracy','reviews_per_month']
nan_idx = list(df2[cols][df2['reviews_per_month'].isnull()].index)
df2[cols][df2['reviews_per_month'].isnull()]

,review_scores_cleanliness,review_scores_value,review_scores_accuracy,reviews_per_month
12,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN
...,...,...,...,...
494928,NaN,NaN,NaN,NaN
494933,NaN,NaN,NaN,NaN
494934,NaN,NaN,NaN,NaN
494946,NaN,NaN,NaN,NaN
494947,NaN,NaN,NaN,NaN

In [11]:
df2[cols].std()

review_scores_cleanliness    1.034973
review_scores_value          0.903267
review_scores_accuracy       0.852054
reviews_per_month            1.733576
dtype: float64

Những cột này đều có điểm chung là không có các thông số review nên không hợp lý khi ta xử lý các Nan values này một cách quá tùy tiện như thay thế bằng mod, median, mean,... Vì vậy, ta có thể xem như các ngôi nhà ở đây chưa được review trong khi thu nhập dữ liệu và điền các missing value = 0. Trong khi những cột còn lại độ lệch chuẩn không cao, khoảng 1.

In [12]:
mask = df2['reviews_per_month'].isna()
df2.loc[mask,cols] = 0

In [13]:
df2[cols][df2['review_scores_cleanliness'].isnull() & df2['review_scores_value'].isnull() & df2['review_scores_accuracy'].isnull()]

,review_scores_cleanliness,review_scores_value,review_scores_accuracy,reviews_per_month
381,NaN,NaN,NaN,0.94
455,NaN,NaN,NaN,0.10
502,NaN,NaN,NaN,0.15
512,NaN,NaN,NaN,0.28
550,NaN,NaN,NaN,0.71
...,...,...,...,...
494172,NaN,NaN,NaN,0.14
494181,NaN,NaN,NaN,0.04
494182,NaN,NaN,NaN,0.03
494525,NaN,NaN,NaN,0.10
494922,NaN,NaN,NaN,0.15

In [14]:
df2 = df2.dropna(subset=['review_scores_accuracy','review_scores_value'],how='all')
df2 = df2.dropna(subset=['review_scores_cleanliness','review_scores_value'],how='all')
df2 = df2.dropna(subset=['review_scores_accuracy','review_scores_cleanliness'],how='all')
df2 = df2.reset_index(drop=True)

## Exploratory Data Analysis

Câu hỏi:

### Quí

       host_name  calculated_host_listings_count
735          Tom                           711.0
778          Tom                           711.0
792          Tom                           711.0
816          Tom                           711.0
858          Tom                           711.0
...          ...                             ...
480613       Tom                           711.0
480653       Tom                           711.0
480853       Tom                           711.0
481314       Tom                           711.0
482096       Tom                           711.0

[704 rows x 2 columns]

### Hiệu

In [45]:
df2[['host_id','host_name','calculated_host_listings_count']].groupby(['host_id','host_name']).mean()\
.sort_values('calculated_host_listings_count',ascending=False).head(5)

                                     calculated_host_listings_count
host_id  host_name
3625030  Angela                                          752.000000
33889201 Tom                                             711.000000
43337979 Top Villas Mallorca                             224.000000
80636743 Foravila                                        193.000000
7409213  Lisa L'Abode Accommodation                      154.980263